<p>
  <b>List Name:</b>
  <%= @list.name %>
</p>

<br />

<%= render :partial => 'tasks/index' %>

<%= link_to 'Edit', edit_list_path(@list), :class => 'btn primary' %>
<%= link_to 'Back', lists_path, :class => 'btn' %>
