<% content_for :subtitle do %>
  <h1>Favorite lists</h1>
<% end %>

<table id="my_lists">
  <tr>
    <th>User</th>
    <th>List name</th>
    <th colspan="3"></th>
  </tr>

<% @lists.each do |list| %>
  <tr>
    <td width="40%"><%= list.user.username %></td>
    <td width="50%"><%= list.name %></td>
    <td><%= link_to 'Unfavorite', list, id: 'unfavorite', class: 'btn danger' %></td>
  </tr>
<% end %>
</table>